# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
coverage
db/*.db
*.local
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.eslintcache
.DS_Store
.env
.env.test
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
